<html lang='en-US'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="google" content="notranslate">
        <title>Splintera</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/layer_one.css" %}">
        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <!--<script src="{% static "js/worker.js" %}"></script>-->
        <script>
        $(document).ready(function()
        {
            //we have to go through these hoops to load a web worker from the CDN, otherwise we get a 'DOM error 18 cross domain' error if we use the CDN URL directly
            /*console.log(worker_code);
            // URL.createObjectURL
            window.URL = window.URL || window.webkitURL;
            var blob;
        try
        {
            blob = new Blob([worker_code]);
        }
        catch (e)
        { // Backwards-compatibility
            window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;
            blob = new BlobBuilder();
            blob.append(worker_code);
            blob = blob.getBlob();
        }
        var layer_one_worker = new Worker(URL.createObjectURL(blob));
        layer_one_worker.addEventListener("message", function (event)
        {
            console.log(event.data);
            /*var data = { one: parseFloat(event.data) };//Math.floor(Math.random() * 40) + 120
            graph.series.addData(data);
            graph.render();*/
        /*}, false);
        layer_one_worker.addEventListener('error', function (event)
        {
            console.log("Error!\n");
        }, false);*/
        //worker.postMessage({data: int8View, moreData: anotherBuffer},[int8View.buffer, anotherBuffer]); use transferrable objects later instead of copying data
        //layer_one_worker.postMessage('init'); // Send data to our worker
        
        /*jQuery.ajaxSetup({async:false});
	$.get('/api/', {  }, function(data)
	{
	    json_data = data;
	},"json");
	jQuery.ajaxSetup({async:true});*/
        //default_sidebar();
    });
    </script>
    </head>
    <body>
    <div align="center"><input type="text" id="search" value="Search"></div>
    <div id="left_sidebar">
        <table id='status' width='100%'><tr><td id='status_color' style='width:20%;height:30px'><svg xmlns='http://www.w3.org/2000/svg' version='1.1' style='display:block'><circle cx='15' cy='15' r='15' stroke='black' stroke-width='2' fill='green'/></svg></td><td id='status_message' style='width:80%'>All systems under control</td></tr></table>
        <div id='sidebar_graph'></div>
    </div>
</body>
</html>
</html>