container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01_install_mysqldb:
    command: "pip install distribute==0.6.28; pip install MySQL-python==1.2.4"
  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "flow.settings"
    ENVIRONMENT: "production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "flow/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"