circle.node
{
    stroke: #fff;
    stroke-width: 3px;
}

line.link
{
    /*stroke-width: 2px;*/
    stroke: #999;
    stroke-opacity: 0.6;
}

marker#arrow
{
    stroke: #999;
    fill: #999;
}

path.link {
  fill: none;
  stroke: #666;
  /*stroke-width: 1.5px;*/
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: red;
  font: 10px sans-serif;
  pointer-events: none;
}