{% extends "base.html" %}

{% block title %}{{ Login }}{% endblock %}
{% block css %}
<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>
body
{
    background-color: black;
    background-image: url('/static/images/background.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
}
#container
{
    /*width: 30%;
    height: 170px;*/
    background-color: white;
    position: absolute;
    top:30px;
    left: 30px;
    opacity: 0.8;
    /*text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    /*border: 2px solid #600000;*/
}
#learn
{
    position: absolute;
    top: 30px;
    right: 30px;
}
#social_legal
{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
#logo
{
    font-family: 'Comfortaa', cursive; color: blue; font-weight: normal; font-size: 36px;
    position: relative;
    width: 100%;
    text-align: center;
}
.icon-github, .icon-bitbucket
{
    color: black;
}
.dropdown-menu
{
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    padding: 4px 3px 4px 0px; /* top, right, bottom, left */
    /* to remove spacing between github and bitbucket, set margin to 0px */
}
.dropdown-menu:hover
{
    background-color: #4cae4c;
    background-image: none;
}
.dropdown-menu li:hover
{
    background-color: #4cae4c;
    background-image: none;
}
.dropdown-menu li a
{
    color: white;
    padding: 0px 22px 0px 13px; /* top, right, bottom, left */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.dropdown-menu li a:hover
{
    background-color: #4cae4c;
    border-color: #449d44;
    background-image: none;
}
</style>
{% endblock %}
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
$(document).ready(function()
{

});
</script>
{% endblock %}
{% block body %}
    <div id='container'>
        <span id='logo'>splintera</span>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <h2 style="color: #A52A2A">Painless web app testing<br/> for busy developers</h2>
        <h4>Auto-generate unit tests with 1 click</h4>
        <h4 style='text-align:center'>Get started for free:</h4>
        <div class="btn-toolbar pagination-centered">
            <div class="btn-group">
                <a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-success"><i class="icon-github icon-large"></i> Login with GitHub</a>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'socialauth_begin' 'bitbucket' %}"><i class="icon-bitbucket icon-large"></i> Login with Bitbucket</a></li>
                </ul>
        </div>
    </div>
    </div>
    <div id='learn'>
        <a href='#'>LEARN MORE</a> | <a href='#'>SEE THE VIDEO</a>
    </div>
    <div id='social_legal'>
        <p style='float:right'><img src='/static/images/twitter.png'> <img src='/static/images/rss.png'></p>
        <p>©2013 Splintera, Inc. All rights reserved.</p>
    </div>
{% endblock %}